.actor-name {
    color: #444;
    margin-bottom: 10px;
    text-align: center;
}

/*.featured-in {*/
/*    color: #000000;*/
/*    margin-bottom: 5px;*/
/*    text-align: center;*/
/*}*/

.movie-list {
    list-style-type: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

.movie-title {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.movie-title:last-child {
    border-bottom: none;
}

span {
    color: #005580FF;
}