.main {
    background-color: rgba(114, 253, 253, 0.84);
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    height: 2em;
    padding-top: 20px;
}

.cont {
    display: flex;
    justify-content: space-evenly;
}

.card {
    text-align: center;
    border: 2px solid black;
    width: 15%;
    font-size: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0.2em ;
    background-color: rgba(142, 241, 142, 0.6);
}

.card img {
    /*max-height: 400px;*/
    width: 100%;
    /*height: 70%;*/
}

.watch-btn {
    height: 2em;
    width: 6em;
    font-size: 1em;
    border-radius: 15px;
    margin-bottom: 15px;
}

.watch-btn:hover {
    transform: scale(103%);
    box-shadow: red 0 0 10px ;
}

.year {
    font-size: 0.7em;
}

.director {
    font-size: 0.8em;
}