<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'catalogue/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/1.css' %}">
    {% block head %}
        <title>Catalogue</title>
    {% endblock head %}
</head>
<body>
{#    <a href="/admin/">ADMIN</a>#}
{#    <h2>Movies catalogue</h2>#}
    <h2>Welcome, {{ username }}</h2>

    {% block menu %}
        <div class="menu">
            <a href="{% url 'allmovies' %}">Movies</a>
            <a href="{% url 'allactors' %}">Actors</a>
            <a href="{% url 'alldirectors' %}">Directors</a>
            <a href="{% url 'subscr' %}">Movies catalogue</a>
            <a href="{% url 'search' %}">Movies search</a>
            <a href="{% url 'home' %}">GLAGNE</a>
            {% if user.username %}
                <a href="{% url 'submanager' %}">Submanager</a>
            {% endif %}
            {% if not user.username %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    {% endblock menu %}

    {% block content %}
        <h2>There are {{ x }} movies in the DB</h2>
        <h2>There are {{ xx }} actors in the DB</h2>
        <h2>There are {{ xxx }} directors in the DB</h2>
        <h2>There are {{ xxxx }} bronze tier movies in the DB</h2>
    {% endblock content %}

    {# Код для блока с навигацией по страницам, если выводится определённое кол-во фильмов (кол-во указано во views  "paginate_by = X")      #}
    {% if is_paginated %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    {% endif %}


</body>
</html>