{% extends 'index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/submanager.css' %}">
    {% if user_sub_type == 3 %}
        <link rel="stylesheet" href="{% static 'css/gold.css' %}">
    {% elif user_sub_type == 2 %}
        <link rel="stylesheet" href="{% static 'css/silver.css' %}">
    {% elif user_sub_type == 1 %}
        <link rel="stylesheet" href="{% static 'css/bronze.css' %}">
    {% endif %}
{% endblock head %}


{##}
{#{% block content %}#}
{#    <h2>Your current sub tier is {{ subtier }}.</h2>#}
{#    <h3>Would you like to switch tier subscription?</h3>#}
{#    {% if user_sub_type == 3 %}#}
{#        <button>Bronze</button>#}
{#        <button>Silver</button>#}
{#        <button>Gold</button>#}
{#    {% elif user_sub_type == 2 %}#}
{#        <button>Bronze</button>#}
{#        <button>Silver</button>#}
{#        <button>Gold</button>#}
{#    {% elif user_sub_type == 1 %}#}
{#        <button>Bronze</button>#}
{#        <button>Silver</button>#}
{#        <button>Gold</button>#}
{#    {% endif %}#}
{##}
{#{% endblock content %}#}

{% block content %}
    <h2>Your current subscription is <span class="current-sub">{{ subtier }}</span></h2>
    <h3>Would you like to switch tier subscription?</h3>

    {% if user_sub_type == 3 %}
        <form method="POST" action="{% url 'switch_to_bronze' %}">
          {% csrf_token %}
          <button type="submit" style="color: #cd7f32; background-color: #2c2828">Bronze</button>
        </form>
        <form method="POST" action="{% url 'switch_to_silver' %}">
          {% csrf_token %}
          <button type="submit" style="color: silver; background-color: #2c2828">Silver</button>
        </form>

    {% elif user_sub_type == 2 %}
        <form method="POST" action="{% url 'switch_to_bronze' %}">
          {% csrf_token %}
          <button type="submit" style="color: #cd7f32; background-color: #2c2828">Bronze</button>
        </form>
        <form method="POST" action="{% url 'switch_to_gold' %}">
          {% csrf_token %}
            <button type="submit" style="color: gold; background-color: #2c2828">Gold</button>
        </form>

    {% elif user_sub_type == 1 %}
        <form method="POST" action="{% url 'switch_to_silver' %}">
          {% csrf_token %}
          <button type="submit" style="color: silver; background-color: #2c2828">Silver</button>
        </form>
        <form method="POST" action="{% url 'switch_to_gold' %}">
          {% csrf_token %}
            <button type="submit" style="color: gold; background-color: #2c2828">Gold</button>
        </form>
    {% endif %}
{% endblock content %}