{% extends 'index.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'css/actors_lists.css' %}">
{% endblock head %}

{% block content %}
    <h2 class="actor-title">Actors:</h2>
    <ul class="actor-list">
        {% for actor in actor_list %}
            <li class="actor-item">
                <a class="actor-link" href="{{ actor.get_absolute_url }}"><p class="actor-last-name">{{ actor.actor_last_name }}</p></a>
                <p class="actor-first-name">{{ actor.actor_first_name }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
